*
    {
        margin: 0px;
        box-sizing: border-box;
    }

.icon-up
    {
        font-size: 40px;
        color: #464646;
        /* vị trí neo cố định */
        position: fixed;
        right: 20px;
        bottom: 20px;
    }


.navbar
    {
        width: 100%;
        height: 60px;
        background-color: #34465c;
        /* Ứng với top right bottom left */
        padding:0px 16px 0px 16px; 
        display: flex;
        justify-content: space-between;
    }

/* Gọi kiểu block để bỏ chấm */
li
    {
        display: block;
        margin: 0px 15px;
    }
body   
    {
        font-family: 'Roboto', sans-serif;
    }

/* LOGO --------------------------------------------- */
/* Gọi tất cả thể img trong div logo mới được gọi */
.logo img
    {
         width: 120px;
    }
    
.logo
    {
        width: 150px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
/* MENU navbar--------------------------------------------- */
.menu
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* Để nó trừ đi diện tích của avatar */
        width: 100%;
        margin-right: 20px;
    }
.listmenu 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
.sub-menu
    {
        background-color: tomato;
        position: absolute;
        top: 10px;
        left:0px;
    }
.listmenu a
    {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

/* AVATAR --------------------------------------------- */
.avatar
    {
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.avatar img
    {
        width: 40px;
        max-width: 100%;
        display: block;
        margin: auto;
        height: 40px;
        border-radius: 20px;
    }

/* Hàng 1--------------------------------------------- */
.Hang1
    {
        width: 80%;
        margin: 80px auto auto auto;
        display: flex;
        justify-content: space-between;
    }
.banner
    {
        /* width: 70%; */
        height: 500px;
        margin-right: 10px;
        /* Xóa phần thừa bị chèn ra ngoài box */
        overflow: hidden;
    }
.list-blog
    {
        width: 40%;
        height: 500px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
.shadow
    {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        background-color: #fff;
    }
.banner img
    {
        height: 100%;
        object-fit: contain;
    }
.widget
    {
        height: 21.5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
.columnL
    {    
        /* height: 100%;    */
        width: 20%; 
        display: flex;    
    }
.columnL img
    {
        height: 100%;
        width: 100%; 
        object-fit: cover;
        overflow: hidden;
    }
.columnR
    {    
        width: 80%;   
        margin: auto 20px auto 20px 
        /* display: flex;    
        justify-content: space-around;
        align-items: center; */
    }

/* Hàng 2--------------------------------------------- */
.Hang2
    {
        width: 75%;
        margin: 80px auto 80px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
.box
    {
        height: 180px;
        width: 21.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
.box img
    {
        width: 40%; 
        object-fit: contain;
        /* overflow: hidden; */
        margin-bottom: 5%;
    }
.box h2
    {
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
    }
.box p 
    {
        width: 80%;
        font-size: 14px;
        font-size: small;
        color: rgb(156, 154, 152);
        text-align: center;
    }
.box a
    {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* Hàng 3--------------------------------------------- */
/* Hàng 3 Row 1--------------------------------------------- */
.Hang3
    {
        width: 100%;
        height: 632px;
        margin: auto auto auto auto;
        padding-top: 80px;
        background-color: #E4F2FD;
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: center;
    }
.Hang3-Row1
    {
        width: 60%;
        height: 40px;
        background-color: #E4F2FD;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
.Hang3-Header
    {
        width: 70%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
.Hang3 h3
    {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: normal;
    }
.Hang3 a
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.Hang3-Row1 img
    {
        width: 30%; 
        object-fit: contain;
    }
.Arrow
    {
        width: 10%;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
/* Hàng 3 Row 2--------------------------------------------- */
.Hang3-Row2
    {
        width: 60%;
        margin: 80px auto 80px auto;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
.box2
    {
        height: 300px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #ffffff;
    }
.box2 img
    {
        width: 100%;
        overflow: hidden;
    }
.box2 h3
    {
        width: 80%;
        margin-top: 5%;
        font-size: 18px;
        font-weight: normal;
        text-transform: none;
        text-align: left;
    }
.box2 p
    {
        width: 80%;
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
    }

/* Hàng 4--------------------------------------------- */
.Hang4
    {
        width: 100%;
        height: 860px;
        margin: auto auto auto auto;
        padding-top: 80;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.Hang4 iframe
    {
        /* margin: 0px auto 80px auto;
        padding-top: 80; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

/* Footer--------------------------------------------- */
.Footer
    {
        width: 100%;
        height: 424px;
        background-color: #464646;
        padding:48px auto 48px auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.Container-Footer
    {
        width: 60%;
        height: 424px;
        /* margin: 48px auto 48px auto;
        background-color: #34465c; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
.Footer-Column
    {
        height: 80%;
        /* width: 24%; */
        padding: 0px 15px 0px 15px;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        /* background-color: tomato; */
        line-height:1 ;
    }
.Footer-Column .Column1
    {
        width: 24%;
    }
.Footer-Column .Column2
    {
        width: 18%;
    }
.Footer-Column .Column3
    {
        width: 27%;
    }
.Footer-Column .Column4
    {
        width: 27%;
    }
.Footer-Column p
    {
        font-size: 14px;
        color: #919294;
        text-align: left;
    }
.Footer-Column h4
    {
        font-size: 19.2px;
        margin: 32px 0px 12px 15px;
        color: white;
        text-align: left;
        font-weight: bolder;
    }
.Footer-Column li
    {
        height: 40px;
        display: flex;
        font-size: 12px;
        color: #919294;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
.Footer-Column ul
    {
        margin: 0px;
        padding: 0px;
    }
.fa
    {
        display: block;
        margin-right: 20px;
    }
.fa-40 
    {
        font-size: 40px;
    }
.Footer-Column a
    {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }