/* FEED-LAYOUT------------------------------------------------------------------------------------------------------------ */
.feed-layout
    {
        width: 940px;
        height: 600px;

        position: relative;
        margin: 60px auto;
        /* transform: translate(-50%,-50%); */
    }
.feed-picture
    {
        width: 600px;
        height: 600px;

        border-right: 1px solid #dfe0e2;

        position: absolute;
        top: 0;
        left: 0;

        overflow: hidden;
        object-fit: cover;
    }
.feed-picture img
    {
        width: 100%;
        height: 100%;
    }

/* NEW FEED------------------------------------------------------------------------------------------------------------ */
.feed-new
    {
        width: 340px;
        height: 600px;
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 0;
        right: 0;
    }

/* NF HEADER------------------------------------------------------------------------------------------------------------ */
.feed-new-header
    {
        width: 340px;
        height: 72px;
        padding: 16px;
        background-color: white;
        border-bottom: 1px solid #dfe0e2;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
.feed-new-header img
    {
        width: 32px;
        height: 32px;
        padding: 1px;
        border-radius: 16px;
        border: 1px solid #dfe0e2;
    }
.feed-new-header a
    {
        width: 100%;
        height: 32px;
        margin-left: 14px;

        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
        color: #383838;
    }
.feed-new-header a:visited
    {
        color: #383838;
    }
.feed-new-header a:hover
    {
        text-decoration: underline;
    }

/* NF NEW COMMENT------------------------------------------------------------------------------------------------------------ */
.feed-new-comment
    {
        width: 340px;
        height: 360px;
        padding: 0 16px;
        background-color: white;
        border-bottom: 1px solid #dfe0e2;
    }
.comment
    {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
.comment-avatar
    {
        width: 50px;
    }
.comment-avatar img
    {
        width: 32px;
        height: 32px;
        padding: 1px;
        border-radius: 16px;
        border: 1px solid #dfe0e2;
    }
.comment-content
    {
        width: 100%;
    }
.comment-content a
    {
        font-size: 14px;
        font-weight: 500;
        color: #383838;
    }
.feed-new-comment ul
    {
        width: 100%;
    }
.feed-new-comment li
    {
        width: 100%;
        padding: 12px 16px 16px 0px;
        line-height: 1.2;
    }
.feed-new-comment span
    {
        font-size: 14px;
    }

/* NF EMOTION------------------------------------------------------------------------------------------------------------ */
.feed-new-emotion
    {
        width: 340px;
        height: 108px;
        padding: 0 16px;
        background-color: white;
        border-bottom: 1px solid #dfe0e2;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

/* EMOTION MENU------------------------------------------------------------------------------------------------------------ */
.emotion-menu
    {
        width: 100%;
        height: 42px;

        font-size: 24px;
        font-weight: 200;
        color: #8e8e8e;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
.emotion-menu a
    {
        color: #8e8e8e;
    }
.emotion-menu-left a
    {
        margin-right: 10px;
    }
.change-color-red:visited
    {
        color: #ED4956;
    }
.change-color-black:visited
    {
        color: #383838;
    }
.liked-by
    {
        width: 100%;
        height: 24px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
.liked-by img
    {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: 8px;
    }
.liked-by p, .liked-by a
    {
        width: auto;
        height: 24px;

        font-size: 14px;
        line-height: 24px;
        color: #484848;
    }
.liked-by a
    {
        font-weight: 500;
        color: #484848;
    }
.time
    {
        width: 100%;
        height: 20px;
        padding-left: 4px 0;

        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: #8e8e88;
    }

/* NF ADD a COMMENT------------------------------------------------------------------------------------------------------------ */
.feed-new-add-comment
    {
        width: 340px;
        height: 60px;
        padding: 0 16px;
        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
.feed-new-add-comment input
    {
        width: 260px;
        height: 30px;
        border: none;
        outline: none;

        font-size: 14px;
        line-height: 14px;
        color: #686868;
    }
.feed-new-add-comment ::placeholder
    {
        font-size: 14px;
        color: #8e8e8e;
    }
.feed-new-add-comment button
    {   
        width: 28px;
        height: 30px;
        padding: 0;
        background: none;
        border: none;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        color: #0095F6;
    }

/* CLOSE BUTTON------------------------------------------------------------------------------------------------------------ */
.close-feed
    {
        font-size: 24px;
        color: #dfe0e2;

        position: absolute;
        top: 0;
        right: -24px;
    }


/* NEXT BUTTON------------------------------------------------------------------------------------------------------------ */
.next-feed
    {
        font-size: 24px;
        color: #dfe0e2;

        position: absolute;
        top: 50%;
        right: -24px;
        transform: translateY(-50%);
    }


/* FORWARD BUTTON------------------------------------------------------------------------------------------------------------ */
.forward-feed
    {
        font-size: 24px;
        color: #dfe0e2;

        position: absolute;
        top: 50%;
        left: -24px;
        transform: translateY(-50%);
    }